.wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
    grid-auto-rows: auto;
    grid-template-areas:
      "a a a a b b b b"
      "c c c c d d d d"
      "c c c c d d d d"
      "c c c c d d d d"
      "e e e e e e e e";
    align-items: start;
    background-color: #D8CEC4;
    color: white;
  }
  .item1 {
    grid-area: a;
    margin-left: 10px;
    position: sticky;
    top: 0;
    min-width: auto;
    max-width: 100%;
  }
  .item2 {
    grid-area: b;
    justify-self: end;
    margin-right: 10px;
    position: sticky;
    top: 0;
    min-width: auto;
    max-width: 100%;
  }
  .item3 {
    grid-area: c;
    margin-left: 100px;
    margin-top: 100px;
    padding-right: 100px;
  }
  .item4 {
    grid-area: d;
    margin: 5px;
  }
  .map {
    grid-area: e;
    margin-left: 10px;
  }
/* The dropdownF container */
.dropdownF {
    float: left;
    overflow: hidden;
  }
  /* Dropdown button */
  .dropdownF .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 20px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    color: white
  }
  
  .navbar {
    position: relative;
    margin-top: 2%;
  }
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdownF:hover .dropbtn {
    display: inline-block;
    font-weight: bold;
    letter-spacing: 0;
    color: gray;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdownF-content {
    display: none;
    position: absolute;
    overflow:hidden;
    border-style: solid gray;
    border-radius: 30px;
    background-color: #D8CEC4;
  }
  
  /* Links inside the dropdownFF */
  .dropdownF-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  /* Show the dropdownF menu on hover */
  .dropdownF:hover .dropdownF-content {
    display: block;
    text-align: center;
  }
  img {
      max-width: 100%;
      height: auto;
      padding: 14px 16px;
      border-radius: 30px;
  }
@media only screen and (min-width: 600px) {
  }
@media only screen and (min-width: 768px) {
   }
h1 {
    font-size: 50px;
    font-weight: bold;
}
button {
  cursor: pointer;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color:white;
}
a {
  color: white;
}

.carousel-inner {
  border-top: 5px;
  border-left: 5px;
  border-right: 5px;
  border-bottom: 5px;
  border-color: #fff0f4;
  border-style: solid;
  border-radius: 30px;
}