* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.grid-container {
  overflow:hidden;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 300px 1fr 1fr repeat(3,10rem);
  background-color: #D9CFC6; 
  gap: 10px;
}

.grid-container > div {
  overflow:hidden;
  position: relative;
  padding: 20px;
  text-align: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
 }
.box1 {
  border: solid white 2.5px;
  padding: 5px;
  color: white;
  background-color: #D9CFC6;
}
.logo {
  width: 100px;
  height: fit-content;
}

.box2 {
  box-sizing: border-box;
  border: solid white 5px;
  border-style: dotted;
  padding: 5px;
  color: white;
  grid-column: 2/5;
  grid-row: 2/4;
  opacity: 0.6;
}

.box3 {
  box-sizing: border-box;
  border-style: dotted;
  padding: 5px;
  color: white;
  grid-column: 2/5;
  grid-row: 4/8;
}


.box4 {
  box-sizing: border-box;
  border-style: dotted;
  padding: 5px;
  color: white;
  grid-column: 2/5;
  grid-row: 6;
}

.footer {
  background-color: #D9CFC6; 
}
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #D9CFC6;
    max-width: auto;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the content */
  .content {
    background-color: #f1f1f1;
    padding: 10px;
    height: 200px;
  }
  
  /* Style the footer */
  .footer {
    /*background-color: #D9CFC6;*/
    padding: 10px;
  }

.card {
    border: 2px dotted aliceblue;
    display:flex;
    background-color: #D9CFC6;
    flex-direction: column;
    max-width: 1263px;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    border: 2px solid red;
}
