.wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    grid-auto-rows: auto;
    grid-template-areas:
      "a a a a b b b b"
      "c c c c d d d d"
      "c c c c d d d d"
      "c c c c d d d d";
    align-items: start;
  }
  .item1 {
    grid-area: a;
    margin-left: 10px;
    position: sticky;
    top: 0;
    min-width: auto;
    max-width: 100%;
  }
  .item2 {
    grid-area: b;
    justify-self: end;
    margin-right: 10px;
    position: sticky;
    top: 0;
    min-width: auto;
    max-width: 100%;
  }
  .item3 {
    grid-area: c;
    margin-left: 100px;
    margin-top: 100px;
  }
  .item4 {
    grid-area: d;
    margin-left: 100px;
  }
/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 20px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    display: inline-block;
    font-weight: bold;
    letter-spacing: 0;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    overflow:hidden;
    border-style: solid;
    border-radius: 30px;
    box-shadow:none 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 1px rgb(0,0,0),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    background-color: white;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
  }

  img {
      max-width: 100%;
      height: auto;
      padding: 14px 16px;
  }

  
@media only screen and (min-width: 600px) {
  }
  
@media only screen and (min-width: 768px) {
   }

.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

h1 {
    font-size: 50px;
    font-weight: bold;
}